@import 'settings/reset';
@import 'settings/variables';
@import 'settings/grid';
@import 'settings/animation';

* {
  box-sizing: border-box;
}

body {
  font-size: $fontSize;
  font-family: $fontBase;
  line-height: $lineHeight;
  font-weight: $fontWeight;
  background-color: $colorBackgroundW;
}

a {
  text-decoration: none;
}

