@import '../styles/settings/variables';

.about {
  flex-direction: column;
  align-items: center;

  .about__img {
    background-image: url("../assets/iconcontent.png");
    width: 200px;
    height: 80px;
    margin-bottom: 25px;
  }
  p {
    margin-bottom: 15px;
    color: $colorText;
  }
  .about__title {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 300;
    color: $colorTextB;
  }
  .about__text {
    text-align: justify;
    text-align-last: center;
  }
}