@import '../styles/settings/variables';

section.contactBar {
  background-color: $colorBackgroundOlive;
  padding: 15px;

  .row {
    color: $colorTextW;

    div {
      display: flex;

      p {
        &:last-of-type {
          .fas {
            margin-left: 20px;
          }
        }
      }
    }

    p {
      font-size: 17px;
      line-height: 25px;

      i {
        width: 18px;
        height: 18px;
        text-align: center;
        margin-right: 10px;
      }

      a {
        color: $colorTextW;

        &:hover {
          text-decoration: underline;
        }

      }


      .fab {
        transform: scale(1.5);
        transition: transform 300ms;
        cursor: pointer;

        &:hover {
          transform: scale(1.7);
          transition: transform 300ms;
        }

        &:last-of-type {
          margin-left: 30px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  section.contactBar {

    .row {
      p {
        .fab {
          &:last-of-type {
            margin-left: 20px;
          }
        }
      }

    }
  }
}

@media (max-width: 650px) {
  section.contactBar {

    .row {

      div {
        flex-direction: column;

        p {
          &:last-of-type {
            .fas {
              margin-left: 0;
            }
          }
        }
      }

      .socialMedia {
        display: flex;
        align-items: center;
      }
    }
  }
}

@media (max-width: 450px) {
  section.contactBar {

    .row {
      width: 100%;
      .socialMedia {
        a {
          .fab {
            margin-left: 0;
            margin-right: 0;
          }
          &:last-of-type {
            .fab {
              margin-left: 20px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 350px) {
  section.contactBar {
    padding: 5px 15px;

    .row {

      div {
        .standardMedia {
          font-size: 13px;
        }

      }
      .socialMedia {
        a {
          .fab {
            margin-left: 0;
            margin-right: 0;
          }
          &:last-of-type {
            .fab {
              margin-left: 20px;
            }
          }
        }
      }
    }
  }
}