@import "../styles/settings/variables";

.contact {
  background-color: $colorBackgroundB;
  color: $colorTextW;
  margin-top: 30px;
  padding: 40px 0;

  .row {
    flex-direction: column;
    align-items: center;

    .contact__logo {
      width: 225px;
      height: 90px;
      background-image: url("../assets/logo.png");
      background-color: #fff;
      margin-bottom: 40px;
    }

    .contact__text {
      text-transform: uppercase;
      font-size: 17px;
      line-height: 24px;
      margin-bottom: 20px;
    }

    .contact__mediaBox {
      width: 60%;
      border-top: 1px solid $colorTextW;
      border-bottom: 1px solid $colorTextW;
      padding: 20px;
      display: flex;
      justify-content: space-between;

      .contact__mediaBox__standardMedia {

        .standardMedia {
          font-size: 25px;
          padding: 10px 0;

          .fas {
            color: $colorTextW;
            font-size: 25px;
            line-height: 33px;
            text-align: center;
            width: 50px;

          }

          a {
            color: $colorTextW;
            cursor: pointer;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      .contact__mediaBox__socialMedia {

        display: flex;
        justify-content: center;
        align-items: center;

        .socialMedia {
          padding: 10px 0;

          .fab {
            color: $colorTextW;
            font-size: 40px;
            line-height: 50px;
            text-align: center;
            width: 50px;
            margin: 10px;
            cursor: pointer;
            transition: transform 300ms;

            &:hover {
              transform: scale(1.2);
              transition: transform 300ms;
            }
          }
        }
      }
    }
  }
}
