@import '../styles/settings/_variables.scss';

header.header {
  height: 120px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: $colorBackgroundW;

  .row {
    align-items: center;
    position: relative;

    .header__logo {
      width: 225px;
      height: 90px;
      background-image: url("../assets/logoArturWhite.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
    }

    .header__logo--alt {
      background-image: url("../assets/logoArturWhiteShort.png");
    }

    .header__hamburger {
      position: absolute;
      right: 23px;
      top: 40px;
      width: 20px;
      height: 15px;
      border-top: 3px solid $colorText;
      border-bottom: 3px solid $colorText;
      display: flex;
      align-items: center;

      .header__hamburger__bar {
        height: 3px;
        width: 100%;
        background-color: $colorText;
      }
    }

    .header__hamburger--open {
      border: none;
      display: block;
      top: 46px;

      .header__hamburger__bar {

        &:first-of-type {
          transform: rotate(225deg);
          transition: transform 300ms;
        }

        &:last-of-type {
          transform: rotate(-225deg);
          transition: transform 300ms;
          position: relative;
          top: -3px;
        }

      }
    }
  }
}

header.container--short {
  height: 60px;
  border-bottom: 1px solid lighten($colorText, 35%);
  //transition: all 400ms;

  .container {
    height: 100%;
    transition: all 400ms;

    .header__logo {
      position: relative;
      transition: all 200ms;

    }
  }
}

@media (max-width: 850px) {
  header.header {
    height: auto;
    padding: 5px 0;

    .row {
      justify-content: center;
      margin: 10px auto;
    }
  }
  header.container--short {
    height: 60px;
    padding: 0;
  }
}

@media (max-width: 850px) and (orientation: landscape) {
  header.container--short {
    display: none;
  }
}

@media (max-width: 450px) {
  header.header {

    .row {
      .header__hamburger {
        right: 0;
      }

    }
  }
}