.heroBanner {
  position: relative;
  min-height: 50vh;

  .heroBanner__img {
    width: 100%;
    min-height: 50vh;
    position: absolute;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .heroBanner__img--first {
    animation: heroBannerImg 5s infinite alternate-reverse cubic-bezier(1,0,0,1);
    background-image: url("../assets/s1.jpg");
  }

  .heroBanner__img--second {
    animation: heroBannerImg 5s infinite alternate cubic-bezier(1,0,0,1);
    background-image: url("../assets/s2.jpg");
  }
}


