.heroBanner {
  position: relative;
  min-height: 55vh;

  .heroBanner__img {
    width: 100%;
    min-height: 55vh;
    position: absolute;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .heroBanner__img--first {
    animation: heroBannerImg 5s infinite alternate-reverse cubic-bezier(1,0,0,1);
    background-image: url("../assets/image0.png");
  }

  .heroBanner__img--second {
    animation: heroBannerImg 5s infinite alternate cubic-bezier(1,0,0,1);
    background-image: url("../assets/image2.png");
  }
}


@media (max-width: 850px) and (orientation: portrait) {
  section.heroBanner {
    min-height: 33vh;

    .heroBanner__img {
      min-height: 33vh;
    }
  }
}

