@import "../styles/settings/variables";
@import "../styles/settings/animation";

.nav {

  .nav__list {
    display: flex;

    .nav__list__elem {
      padding: 0 15px;
      font-size: 13px;
      color: $colorText;
      line-height: 120px;
      position: relative;
      cursor: pointer;

      a {
        display: block;
        line-height: 120px;
      }

      &:hover {
        color: $colorTextB;
        &::after {
          content: "";
          display: block;
          position: absolute;
          width: 0;
          height: 1px;
          top: 60%;
          left: 5%;
          animation: navBarLine 500ms forwards ease-in-out;
          background-color: $colorBackgroundB;
        }
      }

      &:nth-of-type(2) {
        .fas {
          transition: 500ms;
        }

        &:hover {
          .fas {
            transition: 500ms;
            transform: rotate(180deg);
          }
        }
      }

      .nav__list__more {
        position: absolute;
        top: 120px;
        left: 0;
        display: none;

        .nav__list__more__child {
          height: 60px;
          width: 300px;
          background-color: $colorBackgroundB;
          color: $colorTextW;
          padding: 15px;
          line-height: 30px;
          transition: background-color 600ms;

          &:hover {
            background-color: $colorBackgroundAlt;
            transition: background-color 600ms;
          }
        }
      }

    }

    .nav__list__elem--short {
      line-height: 60px;

      &:hover {

        &::after {
          top: 65%;
        }
      }

      a {
        line-height: 60px;
      }

      .nav__list__more {
        top: 60px;

        .nav__list__more__child {

        }
      }
    }
  }
}
