@import "../styles/settings/variables";

article.container {
  padding: 50px 0;
  overflow-x: hidden;

  .row {

    .col-4 {
      flex: 0 0 25%;
      height: 425px;
      overflow: hidden;
      padding: 10px 15px;
      margin: 0 15px;
      border-radius: 10px;
      box-shadow: 1px 1px 10px $colorText;
      transition: 500ms;
      cursor: pointer;
      position: relative;

      &:hover {
        transform: scale(1.05);
        transition: 500ms;
      }

      .article__img {
        width: 100%;
        height: 250px;
        border-radius: 10px;
        box-shadow: 2px 2px 10px $colorText;
        background-size: cover;
        background-position: center;
      }

      .article__title {
        text-align: center;
        padding: 15px 0;
        font-size: 17px;
        font-family: $fontTitle;
        line-height: 30px;
        position: relative;

        &::after {
          content: "";
          display: block;
          height: 1px;
          width: 100%;
          position: absolute;
          background-color: $colorBackgroundB;
        }
      }

      .article__text {
        text-align: center;
        color: $colorText;
        padding-bottom: 5px;
      }

      .article__subtitle {
        font-weight: bold;
      }

      .article__logoImg {
        background-image: url("../assets/iconcontent.png");
        margin: 10px auto 20px;
        width: 200px;
        height: 80px;
      }

      .article__box {
        //display: flex;
        justify-content: space-between;
        padding: 0 20px;

        div {
          flex: 0 0 45%;

          .article__text--underlined {
            &:first-child {
              text-align: center;
              text-decoration: underline;
            }
          }
        }

      }

      &:first-of-type {
        .article__img {
          background-image: url("../assets/image3.jpeg");
        }

        //.article__text {
        //  text-align: justify;
        //}

        .article__box {
          .article__text {
            text-align: justify;
          }
        }

        .article__text--list {
          text-align: justify;
          list-style: decimal;
          padding-left: 30px;
        }

        /*        .article__title {
                  &::after {
                    width: 70%;
                    left: 15%;
                  }
                }*/
      }

      &:nth-of-type(2) {
        .article__img {
          background-image: url("../assets/image4.jpeg");
        }

        .article__box {
          .article__text {
            text-align: justify;

            li {
              display: flex;
              justify-content: center;
              align-items: center;

              span {
                &:first-of-type {
                  font-size: 20px;
                  margin-right: 5px;
                }
              }
            }
          }

          .article__text--list {
            text-align: center;
            list-style: none;
            padding-left: 30px;
          }

        }


      }

      &:last-of-type {
        .article__img {
          background-image: url("../assets/image3.jpeg");
        }

        .article__box {
          .article__text {
            text-align: justify;

            li {
              display: flex;
              justify-content: center;
              align-items: center;

              span {
                &:first-of-type {
                  font-size: 20px;
                  margin-right: 5px;
                }
              }
            }
          }

          .article__text--list {
            text-align: center;
            list-style: none;
            padding-left: 30px;
          }

        }
      }
    }

  }

  .row--offer {
    width: 100%;
    justify-content: center;
  }
}

@media (max-width: 1750px) {
  article.container {

    .row {

      .col-4 {
        flex: 0 0 30%;
        height: 400px;
      }
    }
  }
}

@media (max-width: 1600px) {
  article.container {

    .row {

      .col-4 {
        height: 425px;
      }
    }
  }
}

@media (max-width: 1460px) {
  article.container {

    .row {

      .col-4 {
        height: 430px;
      }
    }
  }
}

@media (max-width: 1255px) {
  article.container {

    .row {

      .col-4 {
        height: 455px;

        &:first-of-type {
          .article__subtitle {
            margin-bottom: 35px;
          }
        }
      }
    }
  }
}

//@media (max-width: 1080px) {
//  article.container {
//
//    .row {
//
//      .col-4 {
//        height: 450px;
//      }
//    }
//  }
//}

@media (max-width: 1000px) {
  article.container {

    .row {
      flex-wrap: wrap;

      .col-4 {
        flex: 0 0 45%;
        height: 425px;
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: 1000px) {
  article.container {

    .row--offer {
      flex-direction: column;
      align-items: center;

      .col-4 {
        width: 75%;
        flex: 0 0 400px;
        margin-bottom: 40px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media (max-width: 650px) {
  article.container {

    .row--offer {

      .col-4 {
        width: 90%;

      }
    }
  }
}

@media (max-width: 540px) {
  article.container {

    .row--offer {

      .col-4 {
        flex: 0 0 425px;
      }
    }
  }
}

@media (max-width: 420px) {
  article.container {

    .row--offer {

      .col-4 {
        flex: 0 0 450px;
      }
    }
  }
}

@media (max-width: 330px) {
  article.container {

    .row--offer {

      .col-4 {
        flex: 0 0 475px;
      }
    }
  }
}

