@import '../styles/settings/variables';

footer.container {
  position: relative;

  .row {
    .footer__text {
      color: $colorText;
      font-size: 13px;
      line-height: 60px;

      span {
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }

        a {
          color: $colorText;
        }
      }
    }

    .footer__design {
      color: $colorText;
      font-size: 13px;
      line-height: 60px;

      span {
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }

        a {
          color: $colorText;
        }
      }
    }
  }

  article.privacyPolicy {
    display: none;
    position: absolute;
    top: -100vh;
    margin-top: 130px;
    width: 90%;
    height: calc(100vh - 140px);
    left: 5%;
    z-index: 11;
    background-color: $colorBackgroundW;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 3px $colorText;
    padding: 20px 50px;
    overflow: auto;
    animation: privacyPolicy 1500ms;

    .privacyPolicy__title {
      font-size: 30px;
      font-weight: 300;
      line-height: 36px;
      margin-bottom: 20px;
    }

    .privacyPolicy__subtitle, .privacyPolicy__text {
      font-weight: bold;
      color: $colorText;
    }

    .privacyPolicy__subtext {
      color: $colorText;
      padding: 5px 20px;
    }

    .privacyPolicy__exit {
      position: absolute;
      right: 20px;
      top: 20px;
      border-radius: 50%;
      display: block;
      width: 30px;
      height: 30px;
      background-color: $colorBackgroundB;
      color: $colorTextW;
      font-weight: bold;
      border: none;
      transition: background-color 600ms;
      cursor: pointer;

      &:hover {
        &:hover {
          background-color: $colorBackgroundAlt;
          transition: background-color 600ms;
        }
      }
    }
  }

}

@media (max-width: 768px) {
  footer.container {

    .row {
      .footer__text {
        font-size: 10px;
      }

      .footer__design {
        font-size: 10px;
      }
    }

    article.privacyPolicy {
      padding: 20px;
    }
  }
}

@media (max-width: 550px) {
  footer.container {

    .row {
      flex-direction: column;;
      align-items: center;

      .footer__text {
        line-height: 30px;
      }

      .footer__design {
        line-height: 30px;
      }
    }
  }
}

@media (max-width: 400px) {
  footer.container {

    .row {

      .footer__text {
        text-align: center;

        span {
          &:nth-of-type(2) {
            display: none;
          }

          &:last-of-type {
            margin: 0 100px;
          }
        }
      }

      .footer__design {
      }
    }
  }
}

@media (max-width: 328px) {
  footer.container {

    .row {

      .footer__text {


        span {
          &:last-of-type {
            margin: 0 50px;
          }
        }
      }

      .footer__design {
      }
    }
  }
}