@import '../styles/settings/variables';

footer.container {
  .row {
    .footer__text {
      color: $colorText;
      font-size: 13px;
      line-height: 60px;

      span {
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .footer__design {
      color: $colorText;
      font-size: 13px;
      line-height: 60px;

      span {
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }

        a {
          color: $colorText;
        }
      }
    }
  }
}