@keyframes navBarLine {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}

@keyframes navBarLineHamburger {
  0% {
    width: 0;
  }
  100% {
    width: 30%;
  }
}

@keyframes heroBannerImg {
  0% {
    opacity: 1;
  }

  //60% {
  //  opacity: 1;
  //}

  100% {
    opacity: 0;
  }
}

@keyframes heroBannerStart {
  0% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes privacyPolicy {
  0% {
    top: 100vh;
  }

  100% {
    top: -100vh;
  }
}

@keyframes offerFlex {
  0% {
  }

  1% {
    transform: scale(1);
  }

  99% {
    flex: 0 0 75%;
  }

  100% {
    height: auto;
    flex: 0 0 75%;
    transform: scale(1);
  }
}

@keyframes fading {
  0% {
    position: static;
    z-index: 1;
  }

  100% {
    position: absolute;
    z-index: -1;
  }
}