@keyframes navBarLine {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}

@keyframes heroBannerImg {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes privacyPolicy {
  0% {
    top: 100vh;
  }

  100% {
    top: -100vh;
  }
}

@keyframes offerFlex {
  0% {
  }

  100% {
    flex: 0 0 75%;
    height: auto;
    transform: scale(1);
  }
}

@keyframes fading {
  0% {
    position: static;
    z-index: 1;
  }

  100% {
    position: absolute;
    z-index: -1;
  }
}